#Используем гитигнор чтобы не произошла утечка данных/токенов -
#при выгрузке проекта

# Виртуальное окружение
venv/
.venv/

# Секретные ключи и токены
tg_bot/.env

# Логи и временные файлы
tg_bot/data/logs/*
tg_bot/temp/*


# Модель для vosk
models/vosk-model-small-ru-0.22